:root {
    --rosa-color:#EE24FF;
    --roxo-color:#3F3D56;
    --cinza-escuro-color:#828282;
    --cinza-claro-color:#ECEFF2;
    --font-principal: 'Dosis', sans-serif;
    --font-secundaria: 'Open Sans', sans-serif;
}

body{
    text-align: center;
    margin: 0;
    padding: 0;
}

#conteudo {
    width: 626px;
    margin: 64px auto;
    text-align: center;
}

#conteudo h1 {
    color: var(--roxo-color);
    font-weight: normal;
    font-family: var(--font-principal);
}
#conteudo h1 strong {
    color: var(--rosa-color);
    font-family: var(--font-principal);
}

#conteudo span {
    font-family: var(--font-secundaria);
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: var(--cinza-escuro-color);
}

#conteudo span strong {
    color: var(--roxo-color);
}
#conteudo .conteudo-principal {
    width: 540px;
    margin: 16px auto 32px;
}

#conteudo .conteudo-principal .strong-claro {
    color: var(--cinza-escuro-color);
}

a{
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: var(--roxo-color);
  text-decoration: none;

  }

  footer {
   height: 300px;
   
  }
  
  footer a + a {
    
    margin-left: 42px;
  }

  footer #links {
    margin: 32px auto;
  }

  .line {
    width: 391px;
    height: 0;
    margin: 0 auto 16px;
    border: 1px solid var(--cinza-claro-color);
  }

footer img {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    
}

